@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Ibarra Real Nova', serif;

}
.button{
  width:56px;
  padding:20px;
  margin:0 3px ;
  border:1px solid black;
  border-radius:10px;
  cursor:pointer;
  border:none;
}
.button:hover{
  background-color:#5a5a90;
  color:white;
  transition:0.5s ease-in-out;
}
.row{
  margin:8px 0;
}
.row input{
  font-size:21px;
   margin:0px;
  padding:10px 0px ;
  border-radius:3px;
  border:none;
  
}
#equal{
  background-color:#8686df;
}
.sign{
  color:orange;
}