.text-center{
    text-align:center;
      
    }
    .bg-red{
      background:#926868;
      width:22%;
      border-radius:10px;
    }
    .mx-auto{
      margin:auto;
    }
    .flex{
      display:flex;
    }
    .flex-col{
      flex-direction:column;
      
    }
    .items-center{
      align-items:center;
    }
    